.cart_delivery_content{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 120px;
}
.cart_delivery_address{
    padding-left: 165px;
    padding-right: 32px;
}
.delivery_box{
    width: 634px;
height: 66px;
left: 165px;
top: 266px;

/* Light Grey */

background: #FBFBFB;
}

.delivery_box p{
    padding: 20px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */


color: #000000;
}

.delivery_box2{
    background: #FBFBFB;
    margin-top: 10px;
    padding: 20px;
}

.delivery_box3{
    width: 635px;
height: 66px;
left: 165px;
top: 1171px;

/* Light Grey */

background: #FBFBFB;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
} 

.delivery_box3 .delivery_next{
    font-style: normal;
font-weight: bold;
font-size: 19.5px;
line-height: 24px;
/* identical to box height */


text-decoration-line: underline;

/* Red */

color: #FF0000;
}



