.cart_delivery_content {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 120px;
    
}

.cart_delivery_address {
    padding-left: 165px;
    padding-right: 32px;
    
}

.delivery_box {
    width: 100%;
    height: 66px;
    background: #FBFBFB;
    display: flex;
    flex-direction: row;
    
    
}

.delivery_box p {
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #000000;
    margin-right: 442px;
}

.delivery_box3 {
    width: 635px;
    height: 66px;
    /* Light Grey */
    background: #FBFBFB;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery_box3 .delivery_next {
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    /* Red */
    color: #FF0000;
    border: none;
    background: none;
}

@media (max-width:426px){
.cart_delivery_address{
    margin-left: -30%;
    margin-right: unset;
}

    .delivery_box img{
      display: none;
    }

    .delivery_box {
        max-width: 364px;
    }

    .delivery_box p {
        margin-right: 0px!important;
    }

    .delivery_box3{
        max-width: 364px;
    }


}