.media_mobile {
  display: flex;
  flex-direction: row;
}

.media_text_mobile {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #ba2222;
}

.media-body-mobile {
  margin-left: 30px;
  margin-top: 15px;
}

.cart_product_price_mobile {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}

.color_size_mobile {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.li_text_mobile {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #0d0d0d;
}

.div4_mobile {
  width: 20px;
  height: 20px;
  background: #ba2222;
  margin-left: 19px;
}

.increment_indicator_mobile {
  margin-top: 40px;
  
}

.increment_indicator_mobile button{
    border: none;
    background-color: transparent;
}

.media-body-mobile div .fa-plus {
  width: 7.8px;
  height: 7.8px;
  color: #828282;
  margin-right: 20px;
}

.media-body-mobile div .fa-minus {
  width: 7.8px;
  height: 7.8px;
  color: #828282;
  margin-left: 20px;
}
