#_cardText {
  margin-top: 95% !important;
  font-family: Century Gothic !important;
  font-style: normal;
  font-weight: bold;
  font-size: 19.5px;
  text-decoration-line: underline;
  color: #ffffff;
  cursor: pointer;
}
