* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

.filter_section {
    width: 255px;
    margin-top: 240px;
    background: #FBFBFB;
    line-height: 18px;
   
}

.collapse .card-body{
    background: #FBFBFB;
}

ul {
    list-style: none;
}

.mb-0 .text-left{
   
   
    font-style: normal;
    font-weight: bold;
    font-size: 14.75px;
  
    color: #0D0D0D;
}

.collapse .card-body ul li{
    line-height: 18px;
margin-bottom: 20px;
color: #828282;
}

ul .filter_li2 {
    line-height: 38px;
    border-bottom: 1px solid #E0E0E0;
    font-style: normal;
    font-weight: bold;
    font-size: 14.75px;
  
    color: #0D0D0D;
}

ul ul li {
    color: #828282;
    font-style: normal;
    font-weight: normal;
    font-size: 14.75px;
}

ul li i{
    font-size: 8px;
    color:  #0D0D0D;
    margin-left: 100px;
}

.filter_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    
}

.filter_button>.btn-outline-secondary {
    color: #FFFFFF;
    border-color: #0D0D0D;
    background: #0D0D0D;
    width: 194px;
    height: 50px;
    margin: 30px;
}

.filter_button>a {
    color: #828282;
    text-decoration: underline;
    background-color: transparent;
    margin-bottom: 30px;
}

.size_show{
    margin-left: 20px;
}

/* ------- */
@media(max-width:426px){
    .filter_section{
        visibility: hidden;

}
}