.profile_person_info_details {
  display: flex;
  flex-direction: row;
}

.personal_information {
  margin-top: 40px;
}

.profile_picture {
  display: flex;
  flex-direction: row;
}

.profile_picture h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-decoration-line: underline;
  /* Gray 3 */
  color: #828282;
  padding: 20px;
  margin-top: 10px;
}

.profile_box1 {
  width: 730px;
  height: 66px;
  /* Light Grey */
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 20px;
}

.profile_box1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #000000;
}

.profile_box1 img {
  margin-left: 504px;
}

.profile_box2 {
  width: 730px;
  height: 116px;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile_name_holder p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-bottom: 0px !important;
  margin-right: 160px;
}

.first_name_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.profile_surname_holder p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-bottom: 0px !important;
  margin-right: 160px;
}

.profile_last_name_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.profile_email_holder p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-bottom: 0px !important;
}

.profile_emailname_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.profile_box3 {
  width: 730px;
  height: 66px;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding: 20px;
}

.profile_box3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #000000;
}

.profile_box3 img {
  margin-left: 590px;
}

.profile_box4 {
  width: 730px;
  height: 116px;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.password_user p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-right: 168px;
  margin-bottom: 0px !important;
}

.password_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.password_confirm p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-right: 168px;
  margin-bottom: 0px !important;
}

.password_confirm_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.profile_box5 {
  width: 730px;
  height: 66px;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding: 20px;
}

.profile_box5 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #000000;
}

.profile_box5 img {
  margin-left: 530px;
}

.profile_box6 {
  width: 730px;
  height: 400px;
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.name2 {
  display: flex;
  flex-direction: row;
}

.number_holder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-top: 40px;
  margin-bottom: 0px !important;
}

.number_holder_details {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 2 */
  color: #4f4f4f;
  margin-top: 0px !important;
}

.address_holder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-top: 40px;
  margin-bottom: 0px !important;
}

.address_holder_details {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 2 */
  color: #4f4f4f;
}

.city_details {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.city_details_holder p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-right: 209px;
  margin-bottom: 0px !important;
}

.city_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.town_details_holder p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-right: 203px;
  margin-bottom: 0px !important;
}

.town_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

.state_details_holder p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Gray 3 */
  color: #828282;
  margin-bottom: 0px !important;
}

.state_holder {
  font-weight: bold !important;
  color: #4f4f4f !important;
}

@media (max-width: 426px) {
  .profile_picture {
    margin-left: 10px;
  }

  .profile_box1 {
    max-width: 364px;
    margin-left: 10px;
  }

  .profile_box1 img {
    margin-left: 700%;
  }


.profile_box2 {
  max-width: 364px;
  height: 227px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.profile_name_holder{
    margin-bottom: 10px;
}

.profile_surname_holder{
    margin-bottom: 10px;
}


.profile_box3 {
  max-width: 364px;
  margin-left: 10px;
}

.profile_box3 img{
    margin-left: 220px;
}

.profile_box4 {
  max-width: 364px;
  margin-left: 10px;
}

.profile_box5 {
  max-width: 364px;
  margin-left: 10px;
}

.profile_box5 img{
    margin-left: 160px;
}


.profile_box6 {
  max-width: 364px;
  margin-left: 10px;
  height: 500px;
}

.name2 {
  display: flex;
  flex-direction: column;
}

.number_holder{
    margin-top: 10px;
    margin-bottom: unset;
}

.address_holder{
    margin-top: 10px;
    margin-bottom: unset;
}

.city_details{
    margin-top: 10px;
}

.city_details{
    display: flex;
    flex-direction: column;
}

.city_details_holder{
    margin-bottom: 10px;
}

.town_details_holder{
    margin-bottom: 10px;
}
}