.cart_login_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart_guest {
    margin-right: 10px;
}

.cart_box {
    width: 350px;
    height: 66px;
    left: 355px;
    top: 266px;
    /* Light Grey */
    background: #FBFBFB;
}

.cart_box>h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    padding: 20px;
}

.cart_box2 {
    width: 350px;
    height: 270px;
    left: 355px;
    top: 342px;
    margin-top: 10px;
    /* Light Grey */
    background: #FBFBFB;
    padding: 20px;
}

.cart_box2>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #000000;
}

.cart_box2 label {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    /* Colors/Neutral/Black */
    color: #151522;
}

.cart_box2 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    display: flex;
    align-items: center;
    /* Gray 2 */
    color: #4F4F4F;
}

.cart_box2 a {
    color: #FF0000;
}

.cart_box3 {
    width: 350px;
    height: 66px;
    left: 355px;
    top: 266px;
    margin-top: 10px;
    margin-bottom: 120px;
    /* Light Grey */
    background: #FBFBFB;
}

.cart_box3 a {
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    /* Red */
    color: #FF0000;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.cart_box4 {
    background: #BDBDBD;
    width: 350px;
    height: 66px;
    left: 355px;
    top: 266px;
    margin-top: 10px;
    margin-bottom: 120px;
}

.cart_box4 a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* White */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}