.cart_login_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart_box>h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* Colors/Neutral/Black */
    color: #151522;
}

.cart_box2 {
    width: 325px;
    margin-top: 20px;
}

.cart_box2>p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    /* Black */
    color: #0D0D0D;
}


.cart_box4 {
    background: #BDBDBD;
    width: 350px;
    height: 66px;
  
    margin-top: 40px;
    margin-bottom: 120px;
}

.cart_box4 a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* White */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}