.delivery_box2{
    font-family: inherit;
    background: #FBFBFB;
    margin-top: 10px;
    padding: 20px;
    width: 634px;
}

.form-control{
    background-color: #FBFBFB!important;
}

.input_label_text{
    font-weight: bold;
}

.mt5forform{
    margin-top: 10px!important;
}

.px5forform{
    padding-right: 0!important;
}


.form-column{
    padding-left: 0!important;

}

.form-row{
    padding-left: 0!important;
}

.form-neither{
    padding-left: 0!important;
}


@media (max-width:426px){
    .form-control{
max-width: 310px!important;
    }

    .delivery_box2{
        width: 55%!important;
    }

    

    ._dot_color {
        color: #ff0000;
    }
}
